.AddQuoteForm {
    @include NowOrNeverImg;

    @include flex-box-centre; 

    .FormContainer {
        
        margin-top: 40px;

        h4 {
            color: white;
            padding: 5px;
        }

        .FormField {
            display: flex;
            width: auto;
            margin-bottom: 15px;
           // border-radius: 6px;
        }

        ::placeholder { 
            color: rgb(124, 119, 119);
            padding: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 17px;
            
          }
          textarea[type=text] {
           
            padding: 20px;
             
          }

          .SubmitButton {
            @include submit-button;
            margin-bottom: 50px;

            p{
                @include transition-ease; 
                color: white;
                //color:  rgb(63, 61, 61);
            }

        }

    }

    .SignInMessage {
        @include SignInFirst;
    }
}

