.AddQuoteForm {
    @include NowOrNeverImg;

    @include flex-box-centre; 

    .FormContainer {
        @include flex-box-centre;
        flex-direction: column;
        margin-top: 40px;

        h4 {
            color: #90BE6D;
            padding: 5px;
            border: white;
            text-shadow: -1px 1px 0 #000;
            text-shadow: 1px 1px 0 #000;
            text-shadow: 1px -1px 0 #000;
            text-shadow: -1px -1px 0 #000;
        }

        .FormField {
            display: flex;
            width: 80%;
            margin-bottom: 15px;
            font-size: 15px;
           // border-radius: 6px;
        }

        ::placeholder { 
            color: rgb(124, 119, 119);
            padding: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 17px;
            
          }
          textarea[type=text] {
           
            padding: 20px;
             
          }


          
          .SubmitButton {
            @include submit-button;
            
            margin-bottom: 50px;

            p{
                @include transition-ease; 
                color: white;
                //color:  rgb(63, 61, 61);
            }

        }

    }

    .SignInMessage {
        @include SignInFirst;
    }
}

