.AddQuoteForm {
    background-image:url("../img/pexels-daria-shevtsova-3793316.jpg");
    height: 100%;
    width: 100%;
    @include flex-box-centre; 

    .FormContainer {
        
        margin-top: 50px;

        h4 {
            color: white;
        }

        .FormField {
            display: flex;
           // border-radius: 6px;
        }

        ::placeholder { 
            color: rgb(124, 119, 119);
            padding: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 17px;
            
          }
          textarea[type=text] {
           
            padding: 20px;
             
          }

        .SubmitButton {
            @include submit-button;
            margin-bottom: 50px;

            p{
                @include transition-ease; 
                color: white;
                //color:  rgb(63, 61, 61);
            }
            
        }


    }
}

