$primary-color: #272727;
$secondary-color: #ff652f;
$menu-color: rgba(237,237,237, 0.7);

* {
    margin: 0;
    padding: 0
}

/*............media queries...........*/

@mixin media-medium-phone {
  @media screen and (min-width: 400px) {
    @content;
  }
}

@mixin media-tablet {
    @media screen and (min-width: 480px) {
      @content;
    }
  }

  @mixin media-pc {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }

/*............................................*/

@mixin transition-ease {
    transition: all 0.7s ease-in-out;
}

@mixin flex-box-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin submit-button {
    border-radius: 5px;
    padding: 15px 22px 15px 22px;
    margin-top: 22px;
    background-color: #F94144;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    
    border-style: hidden;
}

@mixin quote-container {
    margin: 25px;
    //background-image:url(../img/pexels-steve-johnson-1843717.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    //border-radius: 5px;
    padding: 20px;
}

@mixin NowOrNeverImg {
    background-image: url(../img/pexels-daria-shevtsova-3793316.jpg); 
    
  }

@mixin SignInFirst {

        width: 100vw;
        height: 100vh;
        margin: 25px;
        background-color: white;
       
    
         h5 {
            margin: 30px;
    
        }
    
        .Link {
            @include submit-button;
            text-decoration: none;
            color: white;
            margin-left: 30px;
        }
}

/*............Sign In and Sign Up Components...........*/

@mixin SignInAndSignUp {

    .SignInForm {
        // display: flex;
        // justify-content: center;
        background-color: #43AA8B;
        @include flex-box-centre;
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
        //display: flex;
        //width: 100%;
        flex-direction: column;
        border-radius: 5px;

       
                input {
                  // width: 100%;
                    padding-top: 10px ;
                    padding-bottom: 10px ;
                    padding-left: min(3%);
                    padding-right: min(3%);
                    min-width: 60%;
                    max-width: 40%;
                    border-radius: 5px;
                    border-color: rgb(235, 232, 232);
                    margin-left: min(10%);
                    margin-right: min(10%)
                }
            
                .SubmitButton {
                    @include submit-button;
                    color: white;
                    margin: min(30px);
                }
        
                h4 {
                    color: white;
                    padding: 19px;
                    //margin-top: 5px
                }
        }
}


