$primary-color: #272727;
$secondary-color: #ff652f;
$menu-color: rgba(237,237,237, 0.7);


* {
    margin: 0;
    padding: 0
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin flex-box-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin submit-button {
    border-radius: 5px;
    padding: 15px 22px 15px 22px;
    margin-top: 22px;
    background-color: #F94144;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
    font-size: 17px;
    color: white;
}