.FriendApi {


    margin-top: 50px;
    z-index: 2;
    @include flex-box-centre;
    padding: 1rem;
    //background-color: aliceblue


.FriendsHeader{
    
    @include flex-box-centre;
    width: 100%;
    //background-color: orange;
}
}