.QuoteDetail {
    display: flex;
    justify-content: center;
    //@include NowOrNeverImg;
    background-color: #adb9b9;
    height: 100%;
    width: 100%;
    

    .DetailContainer {
        display: flex;
        flex-direction: column;
        margin: 50px;
        background-color: #43AA8B;
        border-radius: 2%;
        width: 80%;
        height: 100%;

        @include media-tablet {
            width: 50%;
        }

        @include media-pc {
            width: 40%;
        }

        h4, p {
            color: white;
            padding: 5px;
            margin-left: 20px;
            margin-right: 20px;
        }

        h4 {
            margin: 20px;
        }

        .LinkHome {
            display: flex;
            text-decoration: none;
            justify-content: center;  
        }
 
    }
}