// .Card {
//     @include flex-box-centre;
//     width: 250px;
//     height: 250px;

//     p {
//         margin: 20px;
//     }
// }


// .QuoteContainer {
//     @include flex-box-centre;
//     flex-direction: column;
// }

.QuoteList {

    html {
        overflow: hidden;
   }

   body {
    margin: 0;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
   }

    .parallax-wrapper {
        width: 100%vw;
        height: 100%vh;
        padding-top: 200vh;
        box-sizing: border-box;
        transform-style: preserve-3d;
        
        p {
            color: white;
        }
    }

    .parallax-wrapper::before {
        content: "";
        width: 100%vw;
        height: 100%vh;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        transform: translateZ(-1px) scale(2);
    }

    .regular-wrapper {
        width: 100%vw;
        height: 100%vh;
        padding-top: 200vh;
        z-index: 2;
        position: relative;
                
        p {
            color: blue;
        }
        
    }

    .content {
        margin: 0 auto;
        padding: 50px;
        width: 50%;
    }

}