
:root {
    //#ee6352
    //pink #ee9ca7
    //pink #ee9ca7
   --gradient: linear-gradient(90deg, white,#adb9b9, #ee9ca7 );
}

.QuoteList {

  @include flex-box-centre;
  flex-wrap: wrap;
  min-height: 100vh;
  font-size: 1.125em;
  line-height: 1.6;
  color: #333;
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 12s infinite; 

  :hover {
      border-radius: 50%;
  }

      .QuoteContainer {
          @include flex-box-centre;
          margin: 45px 25px 20px 25px;
          transition: all 0.7s ease;
          width: 280px;
          height: 280px;

          // overflow: hidden;
          // word-wrap:break-word;

          @include media-medium-phone {
              width: 300px;
              height: 300px;

          }

          .QuoteLink {
              text-decoration: none;
              @include flex-box-centre;
              width: 280px;
              height: 280px;      
              /*...to have 3 dots at the end of the 6th line of a quote*/
                  p { 
                      margin:20px;
                      font-size: 18px;
                      color: white;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      display: -webkit-box;
                      -webkit-line-clamp: 6;
                      -webkit-box-orient: vertical;
                  }
              }
      }
}


@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}