.SignUpComponent {
    //@include NowOrNeverImg;
    background-color: #adb9b9;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;


    @include SignInAndSignUp;

    .SignInForm {
        height: min(85%);

        @include media-pc {
            width: 45%
        }

        @include media-tablet() {
           // height: min(80%);
            small {
              padding: 20px;
            }   
        }

        small {
            color: honeydew;
            margin: 20px;
        }
    }
}