@import "config";
@import "QuoteList";
@import "MyNav";
@import "FriendsApi";
@import "AddQuoteForm";
@import "Profile";


body {
    
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;

   
}

// h1, h2, h3 {
//     font-weight: 400;
// }

.menu-nav_link {
    text-decoration: none;
}

// .header {
//     z-index: 2;
//     width: 100%;
//     padding: 1rem;
// }

// .QuoteContainer {
//     height: 100%;
//     width: 100%;
// }


