@import "config";
@import "QuoteList";
@import "MyNav";
@import "FriendsApi";
@import "AddQuoteForm";
@import "Profile";
@import "EditForm";
@import "QuoteDetail";
@import "SignIn";
@import "SignUp";

body {
    
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    
   
}

// h1, h2, h3 {
//     font-weight: 400;
// }

.menu-nav_link {
    text-decoration: none;
}



