.SignUpComponent {
    @include NowOrNeverImg;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;


    @include SignInAndSignUp;

    .SignInForm {
        height: min(90%);

        @include media-pc {
            width: 45%
        }

        // @include media-tablet() {
        //   //width: 60%;
        //     small {
        //       padding: 20px;
        //     }   
        // }

        small {
            color: honeydew;
            margin: 20px;
        }
    }
}